<!-- First step: define <div class="form-group"> for each field, with two lines: .label and the field itself. -->
<!-- Second step: add error-check to each field. -->

{% block content %}



    {% if name %}
        <legend class="border-bottom mb-4">Click Below To Download Your Output!</legend>
        <h3>
            After downloading you will be redirected to the Home Page
        </h3>
<!--        <a href="static/outputs/{{ name }}" download="output.csv" onclick="location.href = '/?name={{ name }}';">DOWNLOAD</a>-->
<!-- location.href = '/?name={{ name }}';-->
        <button type="submit" onclick="window.open('static/outputs/{{ name }}');">Download!</button>
        <button type="submit" onclick="location.href = '/?name={{ name }}';">HOME</button>
<!--        <a href="/?name={{ name }}">HOME</a>-->

    {% else %}
        <legend class="border-bottom mb-4">MISTAKE!</legend>
    {% endif %}

{% endblock content %}